# Multivariate imputation

in multivariate imputation we use other cols data aswell to fill my missing values
here we will discuss knn imputer 

knn simply means that i m like my neighbours, all my characterisitics, etc are similar to my neighbours
hence if any value is missing than i will fill that value with that row value that is very similar to my missing value row 
nd this is finded b taking euclidean distance like it assumes it as a point in a plane and measures distance from origin
value is calculated as the number of nearby neighbour value sum / total number of nearby neighbour 

steps

1. find k nearest neighbours (by euclidean dist)
2. find the value

also it is possible that k nearest neighbours also have some values missing then in such case we use nan_euclidean_dist - hum unhi dono points ke beech mai dist nikalege jinke beech mai value available ho

like:-

33 ___ 67 21
__ 45  68 12

then sqrt( weight * ( (67-68)^2 + (21-12)^2 ) )- unhi ke beech ka that are available... here weight is 3/2 - i m finding first col value, so remaining 3 cols and out of these 3 we are using value of 2 

adv - more accurate for smaller nd medium dataset
disadv - more calculations, to predict incoming value from customer i have to keep my whole X_train data on the site and this is a very big flaw

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [3]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [4]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [5]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [7]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [8]:
knn = KNNImputer(n_neighbors=3,weights='distance') #n_neighbours and weights are decided by experiment, first create normal object then try using random values of these two attributes

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [9]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

In [55]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [56]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6927374301675978